{% extends 'base.html' %}
{% load list_filter %}
{% block content %}

<!-- Header-->
<header class="bg-primary bg-gradient text-white" style="margin-bottom:100px;">

</header>

<div class="container my-3">

    <!-- 회사이름 -->
    <h2 class="border-bottom py-2">{{ review_1.rev_com_name }}</h2>

    {% if review %}
    <!-- 후기 목록 -->
    <h5 class="border-bottom my-3 py-2">{{review.count}}개의 회사 후기가 있습니다.</h5>
    {% for r in review %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;"><h5 style="background:#000000;color:#ffffff">{{ r.rev_title }}</h5></div>
            <div class="card-text" style="white-space: pre-line;">
            <div class='lead'> 장점 </div> {{ r.rev_strength }}
            </div>
            <div class="card-text" style="white-space: pre-line;">
            <div class='lead'> 단점 </div> : {{ r.rev_weakness }}
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ r.rev_date }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h5 class="border-bottom my-3 py-2">아직 후기가 없습니다.</h5>
    {% endif %}
</div>
{% endblock %}